<table style="margin: 0 auto; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
        <tr style="height: 13px;">
            <td colspan="4" align="left">
                <h4>{Date}</h4>
            </td>
        </tr>
        {hourrows}
        <tr style="height: 8px;">
            <td colspan="4" align="left">
            </td>
        </tr>
    </tbody>
</table>
