<tr style="height: 10px;" bgcolor="#FFFFFF">
    <td style="text-align: left; border: 1px solid #dddddd; width: 20%;">
        <strong>{{Passage}}</strong>
    </td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 10%;">
        <strong>{{State}}</strong>
    </td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 10%;">
        <strong>{{Change}}</strong>
    </td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 50%;">
        <strong>{{Comments}}</strong>
    </td>
</tr>
