<tr style="height: 13px;">
    <td style="width: 16.5488%; height: 13px;" colspan="4" align="left">
        <strong>{Hour}</strong>
        {projplanrows}
    </td>
</tr>
<tr style="height: 8px;">
    <td colspan="4" align="left">
    </td>
</tr>
