<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Audio Project Manager Digest</title>
</head>

<body style=\"background-color: #fafafa></body>
<table
    style="background-position: center top; background-repeat: repeat-x; font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 16px; margin: 0 auto; padding: 0 20px; width: 100%;"
    width="100%">
    <tbody>
        <tr>
            <td style="padding-top: 10px; padding-left: 0px; padding-right: 0px;" align="center">
                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr style="height: 89px;">
                            <td style="width: 16.5488%; height: 89px;" align="left"><a
                                    style="font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; text-decoration: none;"
                                    href="https://www.sil.org" target="_blank" rel="noopener"
                                    data-saferedirecturl="https://www.sil.org">
                                    <img style="display: block; height: auto;" title=""
                                        src="https://apm-logos.s3.amazonaws.com/internal/apm-logo.png"
                                        alt="header" width="90" border="0" /></a></td>
                            <td style="width: 82.8854%; text-align: left; height: 89px;">
                                <h1 id=App><em>{{App}}</em></h1>
                            </td>
                        </tr>
                        <tr style="height: 15px;">
                            <td align="left" colspan="2">
                                <h4>{{Subject}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {daterows}
                <table style="margin: 0 auto; width: 100%;" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td style="padding: 20px 0px; font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #9fb1c1;"
                                align="center" bgcolor="#fafafa"><a href={ProfileLink} target="_blank" rel="noopener"
                                    title="Profile">{{Preferences}}&nbsp;</a><br />&copy;{Year} {{SIL}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>

</html>
