<tr style="height: 13px;">
    <td style="width: 16.5488%; height: 13px;" colspan="3" align="left"><a href="{projplanlink}" target="_blank"
            rel="noopener" title="ProjPlanDeepLink">{ProjPlan}</a></td>
    {{headers}}
    {datarows}
</tr>
