<tr style="height: 18px;" bgcolor="#FFFFFF">
    <td style="text-align: left; border: 1px solid #dddddd; width: 20%;">
        {Passage}</td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 10%;">{State}</td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 10%;">{Change}</td>
    <td style="text-align: left; border: 1px solid #dddddd; width: 50%;">{Comment}</td>
</tr>
